.app {
    height: 100vh;
    color: black;
}

.search-panel {
    padding: 2.5rem;
    border-radius: 7px;
    background-color: #fcfaf5;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.15);
}

.content {
    max-width: 1000px;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 2rem 0;
}